*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: blue;

  @media (min-width: 768px) {
    background-color: $color-white;;
  }
}

main {
  div {
    color: yellow;

    @media (min-width: 768px) {
      color: var(--div-color);
    }
  }
}
