.u-margin-bottom-S{ margin-bottom: 2.188rem;}
.u-margin-bottom-M{ margin-bottom: rem;}
.u-margin-bottom-L{margin-bottom: rem;}
.u-margin-bottom-XL{margin-bottom: 7.75rem;}
.u-margin-top-XL{margin-top: 7.75rem;}

/*für mobile
.u-margin-bottom-S{ margin-bottom: 1.25rem;}
.u-margin-bottom-M{ margin-bottom: 1.25rem;}
.u-margin-bottom-L{margin-bottom: 2.5rem;}
.u-margin-bottom-XL{margin-bottom: 3.75rem;}

.u-margin-top-XL{margin-top: 3.75rem;}*/