.img_coffeeshop,
.img_coffeeplant{
    height: 319px;

}
.img_Coffee_Costa-Rica{
    width: 299px;
    background-color: $color-white;
}
.img_ingredients{
    background-color: $color-white;
    height: 521px;
}