.section-origin{
    height: 50vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/FEND-Coffee-bags-2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 145px 0;

    .heading-tertiary_white{
        text-align: center;

        &_origin{
            margin-bottom: 35px;
        }
    }

    
    .origin_text{
        width: 30vh;

    }

}