.section-origin{
    height: 50vh;
    background-image: url(../img/FEND-Coffee-bags-2.jpg);
    background-size: cover;

   /* .origin_text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    } */
}