.section-coffeetypes{
    background-color: $color-anthrazit;
    padding: 125px 100px;

    &_heading{
        
        max-width: 400px;
    
    }   

    .coffeetypes{
        display: flex;
        justify-content: center;
        justify-content: space-between;

        &_details{
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        
            .title{
            color: $color-white;
            margin-bottom: 7px;
            margin-top: 20px;
            }
            .price{
            color: gray;
            margin-bottom: 7px;
            }
            &_icon{
            width: 17px;
            }
        }
    }
}