//Color-Variablen
$color-white:rgba(255,255,255,1);
$color-anthrazit:rgba(26,26,26,1);
$color-kraftpapier:rgba(215,190,157,1);
$color-petrol: rgba(0,109,126,1);
$color-rosa:rgba(237,209,201,1);
$color-orange:rgba(215,124,18,1);
$color-medgrey:rgba(115,115,115,1);
$color-ligray:rgba(233,233,233,1);

//Grid-Variablen
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//Img-Variablen

$img-width: 15.063rem;
$img-height: 13rem;

//Media-Queries-Variablen
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;
$media-xxl: 1920px;